{{ define "main" }}
<div class = "row">
    <div class = "col">
        <h2>{{.Title}}</h2>
        <small>Posted on {{ dateFormat "Monday, Jan 2, 2006" .Date }} </small>
        <hr />
    </div>
</div>

<div class = "row">
    <div class = "col">
        {{ .Content }}
        <hr />
    </div>
</div>
<div class = "row">
        <div class = "col">
            {{ partial "related.html" . }}
        </div>
    </div>
<div class="row">
    <div class="col">
        {{ partial "disqus.html" . }}
    </div>
</div>
<!-- pager begin -->
<div class="row">
    <div class="col-md-12">
        <nav>
        <ul class="pagination">
            {{ if .PrevInSection }}
            <li class="page-item">
                <a href="{{.PrevInSection.Permalink}}" class="page-link">
                <span aria-hidden="true">&larr;</span>
                Previous</a>
            </li>
            {{ else }}
            <li class="page-item disabled">
                <a href="#" class="page-link">
                <span aria-hidden="true">&larr;</span>
                Previous</a>
            </li>
            {{ end }}
            {{ if .NextInSection }}
            <li class="page-item">
                <a href="{{.NextInSection.Permalink}}" class="page-link">Next
                <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
            {{ else }}
            <li class="page-item disabled">
                <a href="#" class="page-link">Next
                <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
            {{ end }}
        </ul>
        </nav>
    </div>
    </div>
<!-- pager end -->
{{ end }}