<!-- Twitter Card data -->
<meta name="twitter:title" content="Matt Stratton - {{ .Title }}"/>
<meta name="twitter:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ end }}{{ end }}"/>
{{ with .Site.Params.social.twitter }}
<meta name="twitter:site" content="@{{ . }}"/>
<meta name="twitter:creator" content="@{{ . }}"/>
{{ end }}
{{ with .Site.Params.social.twitter_domain }}<meta name="twitter:domain" content="{{ . }}"/>{{ end }}
{{- with .Params.sharing_image -}}
	{{- $.Scratch.Set "sharing_url" ( . | absURL ) -}}
{{- else -}}
	{{- $.Scratch.Set "sharing_url" ("img/default-sharing.png" | absURL ) -}}
{{- end -}}
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content="{{ $.Scratch.Get "sharing_url" }}" />

