{{ define "main" }}
<div class="jumbotron">
        <div class = "row">
                <div class="col">
                        <h1 class="display-4">Matty Stratton</h1>
                        <p class="lead">DevOp to the Stars.</p>
                        <hr class="my-4">
                        <p>Blah blah blah, devops, empathy, etc</p>
                </div>
                <div class="col-lg-4">
                        <img alt="Matty Stratton" src="/img/matt-stratton.jpg" class="img-center rounded-circle img-fluid jumbotron-host">
                </div>
        </div>

</div>

{{ end }}